<section id="about" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <div class="container">
        <div class="section-header">
          <h2>About Us</h2>
         <h3> Service In Land is a Web Based platform.</h3>
<p>We render services to customers to hire experienced and Trusted Professional for all types of services available.
Service In Land is a group of young and energetic people working tirelessly to make the life of people easier by rendering services at their doorsteps.</p>

         
        </div>
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="assets/About_Us.jpg" alt="About_Us">
          </div>

          <div class="col-lg-6 content">
<p>Our Staff carry genuine branded products that are needed to deliver that particular service requested by Customer.</p>

<p>Service In land provides housekeeping service that comprise of Cleaning, Pest Control, Electrical Work,
Transport services, security etc..</p>
<p>Service In Land is surely a right place to hand in the better service.</p>

          </div>
        </div>

      </div>
    </section>